.section-photos{
    width: 100%;
    border-radius: 15px;
    background-color: var(--white);
    margin-bottom: 20px;
    border: solid 6px white;
    border-style: double;
}
.section-title{
    margin-bottom: 10px;
    font-size: 20px;
}

.photos-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 285px);
    justify-content: center;
    gap: 29px;
}


.photos{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}

.title-photos{
    padding-left: 16px;
    font-family: "Protest Revolution", sans-serif;
}

.photos img{
    width: 100%;
    height: 285px;
    border-radius: 15px;
}
