.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}

.banner-photos img{
    width: auto;
    height: 620px;
    display: grid;
    justify-content: center;
    padding: 0 10px;
    margin: 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.section-description {
    display: flex;
}

.section-title{
    margin-right: 15px;
}

.section-title h1.title{
    border-right: 6px solid white;
    width: 420px;
    font-size: 60px;
    text-align: center;
}

.section-title h1.title span{
    color: white;
    font-family: "Protest Revolution", sans-serif;
    font-size: 40px;
}
.section-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    font-size: 20px;
    text-align: justify;
}